.App {
  text-align: center;
}

.main {
  height: 800px;
}

.aboutMe {
  height: 800px;
  background-color: antiquewhite;
}

.projects {
  height: 800px;
  background-color: red;
}

.contacts {
  height: 800px;
  background-color: greenyellow;
}

.link {
  text-decoration: none;
  display: inline;
  padding: 20px 20px;
  font-weight: 700;
  font-size: large;
  cursor: pointer; 
}

.top-btn-position {
  position: fixed;
  bottom: 15px;
  right: 20px;
}

.top-btn-styling {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #333;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Moves the text to the bottom */
  align-items: center; /* Aligns text to the center horizontally */
  flex: 1;
  text-align: center;
  padding-top: 100px;
}


h1 {
  font-family: 'Book Antiqua';
  font-size: 100px; 
}

h2 {
  font-family: 'Book Antiqua';
  font-size: 60px;
  padding-top: 70px;
}

.about-me-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
  width: 600px;             
  padding: 20px;           
  margin: 40px auto 0 40px; 
  text-align: left;         
  line-height: 1.6;         
  background-color: #fdf3e4; 
  border-radius: 8px;       
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  font-size: 25px;
}

.project-container {
  display: flex;
  flex-direction: column; /* Stack top and bottom sections vertically */
  align-items: center;
  padding: 20px 50px;
  gap: 40px; /* Space between top and bottom projects */
}

.top-projects, .bottom-projects {
  display: flex;
  gap: 20px; /* Adjust the space between screenshots */
  flex-wrap: wrap;
  justify-content: space-around; /* Evenly space items */
}

.bottom-projects {
  margin-top: 40px; /* Add space above the bottom projects */
}

.grocery-screenshot, .kanban-screenshot, .flavour-finder-screenshot, .react-blog-screenshot {
  width: 30%;
  aspect-ratio: 16 / 9;
  cursor: pointer;
  transition: transform .2s;
  border-radius: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  object-fit: cover;
}

.grocery-screenshot:hover, .kanban-screenshot:hover, .flavour-finder-screenshot:hover, .react-blog-screenshot:hover {
  transform: scale(1.2);
}

.video-container, .kanban-video-container, .flavour-finder-video, .react-blog-video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


