.App {
  text-align: center;
}

.main {
  height: 800px;
  background-color: aqua;
}

.aboutMe {
  height: 800px;
  background-color: antiquewhite;
}

.projects {
  height: 800px;
  background-color: red;
}

.contacts {
  height: 800px;
  background-color: greenyellow;
}

.link {
  text-decoration: none;
  display: inline;
  padding: 20px 20px;
  font-weight: 700;
  font-size: large;
  cursor: pointer; 
}

.top-btn-position {
  position: fixed;
  bottom: 15px;
  right: 20px;
}

.top-btn-styling {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #333;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}
